.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    /* background: linear-gradient(200.6deg, #e8649a, #e65d77); */
    background: transparent;
    padding: 5rem;
}

.navbar img{
    height: 8rem;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    list-style: none;
}

.nav-list-item{
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-list-item a{
    text-decoration: none;
}

.nav-list-item > a{
    color: white;
}

.nav-list-item > a:hover{
    text-decoration: underline;
}