* {
    color: #000000c7;
}

.sideBar {
    border-width: 500px;
    border: black;
    left: 0px;
    width: 375px;
    height: 100vh;
    border: 1px solid lightgrey;
}

.profile, .security, .explore{
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    background-color:#000000c7;
    color: white;
    text-align: center;
}

.subscription {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background: black;
    border: 0px solid black;
}

.nav {
    background: linear-gradient(200.6deg, #FF512F 0%, #DD2476  51%, #AA2476  100%); /*light to dark gradient*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 87px;
    transition-duration: 0.2s;
    position: relative;
}