.sidebar-profile {
    border: black;
    width: 375px;
    height: calc(100vh - 90px);
    padding-inline: 1rem;
}

.subscription {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    align-items: center;
    cursor: pointer;
    /* background: black;
    border: 0px solid black; */
    border: black;
    background-color:#000000c7;
}

/* .account-settings {
    height: 100px;
} */

.box {
    display: flex;
}