.sidebar-swipe{
    width: 375px;
    height: calc(100vh - 90px);
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: lightgrey;
}

.sidebar-swipe-btn{
    width: 100%;
    border: 0;
}

.selected{
    text-decoration: overline;
}