/* --------------------- */
/* Custom Properties */
/* --------------------- */

:root {

  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font sizes */
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 3.5rem;

  /* font families */
  --ff-sans-normal: 'Barlow', sans-serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-serif: 'Bellefair', serif;
}


/* --------------------- */
/* Reset */
/* --------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

img,
picture {
    max-width: 100%;
    display: block;
}

ol, ul {
	list-style: none;
}

input,
button,
textarea,
select {
    font: inherit
}

[hidden] { display: none !important; }

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}